# IDE
.idea/
*.iml

# Build output
/target/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Environment & secrets
*.env
src/main/resources/application-secrets.yaml

# Maven Wrapper
.mvn/
!mvnw
!mvnw.cmd